.text{
    padding: 50px;
    color: #1E2742;
    font-size: 400%;
    margin-left: 50px;
}


/**links to other pages **/


.link:hover{
    color: #fefefe;
    text-decoration: none;
    
}

.link{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1E2742;
    color: #C1D237;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 1px;
    
}


.stadiuma5{
    padding: 50px;
    display: block;
    margin-left: 50px;
    text-align: center;
    width: 89%;
}