div .mainDiv{
    align-self: center;
}


.Howl{
    padding: 50px;
    display: block;
    margin: auto;
    size: 100px;
}


.text{
    padding: 50px;
    color: #1E2742;
}


div .container{
    padding: 50px;
    flex: 10px;
    scale: 50px;
}



.kithome{
    border: 10px #1E2742;
    background-color: #EEEEEF;
    width: 10cm;
    height: 10cm;
}


.boot{
    border: 10px #1E2742;
}