div .mainDiv{
    align-self: center;
}


.Howl{
    padding: 50px;
    display: block;
    margin: auto;
    
}


.text{
    padding: 50px;
    color: #1E2742;
    font-size: 400%;
    margin-left: 3%;
}


.shop{
    margin-left: 5%;
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    text-align: center;
}

.shop{

    display: grid;
    background-color: #ffffff;
}

.shop{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.shop img{
    margin-left: 17%;
    width: 60%;
    text-align: center;
}

.shop img .boot{
    margin-top: 50%;
}