div .mainDiv{
    align-self: center;
}


.Howl{
    padding: 50px;
    display: block;
    margin: auto;
    
}


.text{
    padding: 50px;
    color: #1E2742;
    font-size: 400%;
    margin-left: 3%;
}


.shop{
    margin-left: 5%;
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    text-align: center;
    padding: 50px;

}

.shop{

    display: grid;
    background-color: #ffffff;
}

.shop{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.shop img{
    margin-left: 17%;
    width: 60%;
    text-align: center;
}

.shop img .boot{
    margin-top: 50%;
}


/**Players tab**/

.players{
    margin-left: 5%;
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    padding: 50px;

}

.players{

    display: grid;
    background-color: #ffffff;
}

.players{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.players img{
    margin-left: 10%;
    width: 80%;
}

.players img .in1{
    margin-top: 50%;
}

.players img .done2{
    margin-top: 50%;
}





/**transfers tab**/

.transfers{
    margin-left: 5%;
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    padding: 50px;

}

.transfers{

    display: grid;
    background-color: #ffffff;
}

.transfers{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.transfers img{
    margin-top: 30%;
    margin-left: 5%;
    margin-bottom: 15%;
    width: 90%;
    text-align: center;
}

/**news tab**/

.news{
    margin-left: 5%;
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    padding: 50px;

}

.news{

    display: grid;
    background-color: #ffffff;
}

.news{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.news img{
    margin: auto;   
    width: 60%;
}


/**matches tab**/

.matches{
    margin-left: 5%;
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    padding: 50px;

}

.matches{

    display: grid;
    background-color: #ffffff;
}

.matches{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.matches img{
    margin-top: 25%;
    margin-bottom: 20%;
    margin-left: 5%;    
    width: 90%;
}


/**tickets tab**/

.tickets{
    margin-left: 5%;
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    text-align: center;
    padding: 50px;
    font-size: 400%;
    margin-left: 3%;
}

.a5{
    color: #C1D237;
}

.i2{
    color: #E9CC3A;
}

.g2{
    color: #C44F4F;
}

.tickets{
    display: grid;
    background-color: #ffffff;

}

.tickets{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.tickets img{
    margin-left: 17%;
    width: 60%;
    text-align: center;
}

