.clubs{
    padding: 50px;
}
.text{
    padding: 50px;
    margin-left: 55px;
    color: #1E2742;
    font-size: 400%;
    
}

.clubs{
    padding: 50px;
}

.clubs {
    padding: 50px;
}

.clubs{
    width: 50%;
    margin-left: 30%;
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    text-align: center;
}

.clubs{

    display: grid;
    background-color: #ffffff;

}

.clubs{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.clubs img{
    width: 70%;
    text-align: center;
    display: block;
    margin: auto;
    size: 10px;
}


.score{
    display: block;
    margin: auto;
    font-size:  100px;
}

div .footer{
    padding: 50px;
    background-color: #1E2742;
    text-align: center;
    color: #9a9a9b;
    font-size: 30px

}

div .img{
    background-color: #1E2742;
    float: right;
    width: 3opx;
}