
.text{
    padding: 50px;
    color: #1E2742;
    font-size: 500%;
    
}

.clubs{
    padding: 50px;
}

.clubs {
    padding: 50px;
}

.clubs{
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
    text-align: center;
}

.clubs{

    display: grid;
    background-color: #ffffff;

}

.clubs{
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
}


.clubs img{
    width: 80%;
    text-align: center;
    display: block;
    margin: auto;
    size: 100px;
}


.score{
    display: block;
    margin: auto;
    font-size:  100px;
}