.clubs {
    padding: 30px;
}

.text{
    padding: 20px;
    margin-left: 55px;
    color: #1E2742;
    font-size: 600%;
    
}


.layout{
    padding: 50px;
    object-fit: contain;
}

.news{
    width: 50%;
    padding: 40px;
    margin-top: 30px;
    margin-left: 20%;
    text-align: justify;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
}

.news{

    display: grid;
    background-color: #ffffff;
    padding: 50px;


}

.news{
    padding: 50px;

    display: flex;

}


.news img{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    object-fit: contain;
}

.sign{
    width: 70px;

}


.txt{
    display: block;
    margin-top: 50px;
    margin-left: 10px;
    text-align: center;
    font-size:  50px;
    color:  #141E33;    
}

 .div{
    resize: both;
    overflow: auto;
    width: 10px;
}

/**links to other pages **/


.link:hover{
    color: #fefefe;
    text-decoration: none;
    
}

.link{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1E2742;
    color: #C1D237;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 1px;
    
}