.text{
    padding: 50px;
    color: #1E2742;
    font-size: 500%;
}



.squad .gk {
    margin-left: 50px;
    margin-bottom: 50px;
    width: 20%
}

.img{
    box-align: center;
    border: 10px solid #9a9a9b;
    border-radius: 30px;
}


/**links to other pages **/


.link:hover{
    color: #fefefe;
    text-decoration: none;
    
}

.link{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1E2742;
    color: #C1D237;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 1px;
    
}