
.layout{
    display: flex;
    padding: 50px;

}


.img{
    display: flex;
    padding: 50px;
    margin: auto;
    width: 40%;

}

.h{
    padding: 50px;
}


.kit {
    background-color: #fcfcfc;
    border-radius: 30px;
    border: 10px dashed #9a9a9b;
    margin-right: 10%;
    width: 200%;
    object-fit: contain;

}


.title{
    padding: 50px;
    margin-left: 25px;
    color: #1E2742;
    font-size: 500%;
}

.text{
    padding: 50px;
    text-align: center;
    color: #1E2742;
    font-size: 500%;
    
}

.Pay{
    padding: 50px;
    margin-top: 8%;
    text-align: center;
    color: #1E2742;
    font-size: 500%;
    background-color: #fcfcfc;
    border-radius: 30px;
    border: 10px dashed #9a9a9b;
    
}