.h1{
    padding: 50px;
    margin-left: 25px;
    color: #1E2742;
    font-size: 500%;
}

.card{
    margin: auto;
    padding: 30px;
    background-color: #fcfcfc;
    border: 10px solid #9a9a9b;
    border-radius: 30px;

}

.flex{
    display: flex;
    object-fit: contain;
    margin-bottom: 50px;
}

.home{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

}


.card-body{
    text-align: center;
}

h5 {
    color: #1E2742;
    font-size: 30px
}

.Purchase{
    margin-top: 50px;
    color: #1E2742;
    font-size: 30px
}




.layout{
    display: flex;
    padding: 50px;

}


.img{
    display: flex;
    padding: 50px;
    margin: auto;
    width: 40%;

}

.h{
    padding: 50px;
}


.kit {
    background-color: #fcfcfc;
    border-radius: 30px;
    border: 10px dashed #9a9a9b;
    margin-right: 10%;
    width: 200%;
    object-fit: contain;

}


/**links to other pages **/


.link:hover{
    color: #fefefe;
    text-decoration: none;
    
}

.link{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1E2742;
    color: #C1D237;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 1px;
    
}