.text{
    padding: 50px;
    margin-left: 55px;
    color: #1E2742;
    font-size: 500%;
}



div{
    text-align: center;
}



.table2{
padding: 50px;
    width: 45%;
    justify-content: center;
}

/**links to other pages **/


.link:hover{
    color: #fefefe;
    text-decoration: none;
    
}

.link{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1E2742;
    color: #C1D237;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 1px;
    
}