.text{
    padding: 50px;
    margin-left: 55px;
    color: #1E2742;
    font-size: 500%;
}



div{
    text-align: center;
}



.table2{
padding: 50px;
    width: 45%;
    justify-content: center;
}

