.text{
    padding: 50px;
    margin-left: 55px;
    color: #1E2742;
    font-size: 500%;
}


body .container{
    padding: 50px;


}

.logo{
    padding: 50px;
    flex: right;
    border: 10px solid #9a9a9b;
    background-color: white;
    border-radius: 30px;
    margin-left: 5%;
}

.Orlando{
    padding: 50px;
    display: inline-block;
    border: 10px solid #9a9a9b;
    background-color: white;
    border-radius: 30px;
    width: 435px;
}

.rb{
    padding: 50px;
    display: flex;
    border: 10px solid #9a9a9b;
    background-color: white;
    border-radius: 30px;
    width: 435px;
    align-items: center;
}

.text2{ 
    padding: 50px;
    display: flexbox;
    color: #1E2742;
    text-align: center;
    margin-top: 50px;

}