.text{
    padding: 50px;
    color: #1E2742;
    font-size: 400%;
    margin-left: 50px;
}


.stadium{
    padding: 50px;
    display: block;
    margin-left: 50px;
    text-align: center;
    width: 20%;
}

.tickets{
    object-fit: contain;
    padding: 50px;
    margin-top: 10px;
    display: flex;

}

.layout{
    display: flexbox;
}

.contain{
    object-fit: contain;
    display: grid;
}

.h2{
    padding: 50px;
    font-size: 300%;
    color: #1E2742;
    

}

div .tickets .B10 .A1 .D1 .f2 .h2 {
    flex: auto;
    font-size: 400%;
    border: 10px solid #9a9a9b;
    background-color: white;
    object-fit: contain;
    margin: auto;
}


.A1{
    padding: 50px;
    margin-left: 2.5%;
    margin-top: 30px;   
    flex: right;
    text-decoration: none;
    font-size: 400%;
    border: 10px solid #9a9a9b;
    background-color: white;
    color: #C1C921;
    text-align: center;
    width: 30%

    
}

.B10{
    padding: 50px;
    display: grid;
    flex: right;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 30px;   
    color: #3f7548;
    font-size: 400%;
    border: 10px solid #9a9a9b;
    background-color: white;
    text-align: center;
    width: 30%
}

.D1{
    padding: 50px;
    display: grid;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 30px;   

    color: #73b5cf;
    font-size: 400%;
    border: 10px solid #9a9a9b;
    background-color: white;
    text-align: center;
    width: 30%
}

.f2{
    padding: 50px;
    display: grid;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 30px;   

    color: #d7cb3f;
    font-size: 400%;
    border: 10px solid #9a9a9b;
    background-color: white;
    text-align: center;
    width: 30%
}


.G2{
    padding: 50px;
    display: grid;
    flex: right;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 30px;   
    color: #C44F4F;
    font-size: 400%;
    border: 10px solid #9a9a9b;
    background-color: white;
    text-align: center;
    width: 30%
}

.H1{
    padding: 50px;
    display: grid;
    flex: right;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 30px;   
    color: #99C44F;
    font-size: 400%;
    border: 10px solid #9a9a9b;
    background-color: white;
    text-align: center;
    width: 30%
}









/**links to other pages **/


.link:hover{
    color: #fefefe;
    text-decoration: none;
    
}

.link{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1E2742;
    color: #C1D237;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 1px;
    
}


/** a5 ticket seat page **/


.stadiuma5{
    padding: 50px;
    display: block;
    margin-left: 50px;
    text-align: center;
    width: 89%;
}



.back{
    padding: 50px;
    text-decoration: none;
    font-size: 400%;
    color: #1E2742;
    width: 500%
}

.acc{
    text-decoration: none;
    font-size: 400%;
    color: #1E2742;
    width: 500%
}


.options{
    margin: auto;
    display: block; 
    text-align: right;
}



.booked{
    padding: auto;
    text-align: center;
    font-size: 50px;
}