/*Cancel out Browser Defualts*/

/*@font-face{
    font-family:FONTNAME;
    src:url(../fonts/peanut\FONTNAME.ttf)*/

    /**Header area styling**/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'alien encounters', sans-serif;
}

header nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #bc1313;
}

header nav .imageDiv{
    height:100%;
    padding: 10px;
}

header nav .imageDiv img{
    height: 100%;
}

header nav ul{
    display: flex;
    flex-grow: 1;
    list-style: none;
    height: 100%;
}

header nav ul li{
    height: 100%;
    width: 100%;
}

header nav ul li a {
    color: #f0f8ff;
    text-decoration: none;
    font-size: 30px;
    line-height: 80px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

header nav ul li a:hover {
    background-color: #8b8bc6;
}

/**Main area styling**/
.mainDiv{
    display: flex;
}

main{
    flex:5;
}


main section{
    display: flex;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

main section div{
    flex:1;
}

main section h2, main section p{
    padding:20px 50px 0px;
}


.DesImg img{
    width: 100%;
}

/* sidebar styling*/


aside{
    flex:1;
    background-color: #efebde;
    padding: 20px 50px;
}

aside ul{
    list-style: none;
    margin-top: 10px;
}

aside ul li {
    margin-bottom: 10px;
}

aside a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;}

    /*Footer styling*/

    footer{
        width: 100%;
        background-color: #bc1313;
        display: flex;
    }

    footer div{
        flex: 1;
        margin-top: 20px;
    }

    footer nav ul li{
        width: 100%;
        background-color: #bc1313;
        display: flex;
        padding:0px 20px ;
    }

    footer nav ul{
        list-style: none;
    }

    footer nav ul li a{
        color: #f0f8ff;
        text-decoration: none;
    }

    footer nav ul li a:hover{
        color: #f4da1a;
    }

    footer img{
        width: 100%;
    }